.infinite-cards-section {
    padding: 4rem 0;
    text-align: center;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.infinite-cards-container {
    max-width: 100vw;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        #000 20%,
        #000 80%,
        transparent
    );
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 20%,
        #000 80%,
        transparent
    );
}

.infinite-scroller {
    width: max-content;
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 1rem;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.75rem));
    }
}

.card {
    width: 350px;
    height: 200px;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--background-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    text-align: left;
}

.card blockquote {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card p {
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 0 1rem;
}

.card footer {
    display: flex;
    flex-direction: column;
}

.card footer span:first-child {
    font-weight: 500;
    color: var(--primary-color);
}

.card footer .title {
    font-size: 0.875rem;
    color: var(--accent-color);
}