

.glowing-stars-container {
    position: absolute;
    inset: 0;
    width: 102%;
    height: 102%;
    transform: translate(-1%, -1%);
    z-index: 0;
    background-image: linear-gradient(110deg, #0f172a, #020617);
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    gap: 1px;
}
.star-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.glow-effect {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    height: 4px;
    width: 4px;
    border-radius: 9999px;
    background-color: var(--accent-color);
    filter: blur(1px);
    box-shadow: 0 0 4px 2px rgba(45, 212, 191, 0.5);
}