.tech-stack-section {
    padding: 6rem 2rem;
    background-color: #000;
}

.tech-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.tech-card {
    padding: 2rem;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    background: linear-gradient(145deg, #1e1e1e, #181818);
    border: 1px solid var(--border-color);
    box-shadow: 5px 5px 15px #0a0a0a, -5px -5px 15px #2c2c2c;
}

.tech-name {
    font-size: 1.75rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
}

.tech-description {
    color: var(--secondary-color);
}