.loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.loader-container {
    width: 250px;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}

.loader-text {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
}